/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
/* End of Reset */
/* Start of Custom Styles */

body {
    font-family: 'Roboto', sans-serif;
}
.content {
    padding: 0 15px;
}
/* Navigation Section */
.top-navigation {
    background-color: #fff;
}
.top-navigation > .content {
    margin: 0 auto;
    width: 970px;
    height: 70px;
}
.top-navigation .logo {
    height: 70px;
}
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

.introduction {
    background-image: url(../img/first-background.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;;
    height: 45rem;
    overflow: auto;
        background-size: cover;
}

.introduction > .content{
    vertical-align: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.introduction h3 {
    color: white;
    text-align: center;
    font-weight: 300;
}
.introduction h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
}
.introduction h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
}
}
.content{
margin: auto;
}

.introduction .buttons {
    width: 49%;
    padding: 0 0.938rem;
    display: inline-block;
    vertical-align: bottom;
    font-size: 1.125rem;
    line-height: 1.2;
}
button {
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
}


.half-learn{
    margin-top: 0px;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    text-align: left;
}
.half-watch{
    text-align: right;
}
.introduction {
    position: relative;
}
.bouncing-arrow {
    position: absolute;
    height: 5.625rem;
    bottom: 0;
    width: 3.250rem;
    left: 50%;
    z-index: 1000;
    margin-left: -1.625rem;
}
/* ???? why did I do this*/
.bouncing-arrow img {
    -webkit-animation: bounce 1.2s ease-in-out infinite alternate;
    -o-animation: bounce 1.2s ease-in-out infinite alternate;
    animation: bounce 1.2s ease-in-out infinite alternate;
}
/* I would like to talk about how these breakdown */ 
@-webkit-keyframes bounce {
    0%, 100% {margin-top: 0px;}
    50% {margin-top: 2rem;}
}
/* confusing copy and pasted */ 
@keyframes bounce {
    0%, 100% {margin-top: 0px;}
    50% {margin-top: 2rem;}
}


.cases{
text-align: center;
margin-top: 5em;
}
.cases .devices {
    width: 20%;
    display: inline-block;
    height: 2em;
    margin-right: 1em;
    margin-left: 1em;
}
.cases .coffee {
    width: 20%;
    display: inline-block;
    height: 2em;
    margin-right: 1em;
    margin-left: 1em;
}
.cases .gas {
    width: 20%;
    display: inline-block;
    height: 2em;
    margin-right: 1em;
    margin-left: 1em;
}
.cases h1 {
    font-size: 2rem;
}
.cases h2 {
    font-size: 1rem;
}
.cases h3 {
    font-size: 3rem;
}

.icons{
    display: inline-block;
    text-align: center;
}
.twitter{
    border: .2em solid;
    border-radius: 10px;
}
.facebook{
    border: .2em solid;
    border-radius: 10px;
}
.instagram{
    border: .2em solid;
    border-radius: 10px;
}
 